<%= form_for :product_type, url: product_types_path do |f| %>

<% if @product_type.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product_type.errors.count, "error") %> prohibited
        this Product Type from being saved:
      </h2>
      <ul>
        <% @product_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>